.message {
    display: flex;
    align-items: flex-end;

    font-family: Helvetica;
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px;
    border-radius: 15px;
}

.image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.content {
    border-radius: 15px 15px 15px 0;
    padding: 10px;
    background: rgb(50, 50, 50);
    color: whitesmoke;
}

.name {
    color: #a750fa;
    margin: 5px 0 0 10px;
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    font-size: .85em;
    margin: 10px;
}

.time {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: #56a056;
    font-size: .8rem;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(50, 50, 50) 0);
}