.box input {
    margin: 0 10px;
}

.box button {
    padding: 5px 10px;
    border-radius: 10px;
}

.base {
    margin-bottom: 10px;
    color: greenyellow;
    font-size: 1.2em;
    font-weight: bold;
}

.error {
    margin-bottom: 10px;
    color: #ff7171;
    font-size: 1.2em;
    font-weight: bold;
}

