.container {
    display: grid;
    grid-template-rows: 220px 1fr;
    gap: 1rem;

    background-color: rgba(128, 128, 128, 0.16);
    border-radius: 15px;
    padding: 10px;
}


.allButton {
    color: #c81f1f;
    margin: 0;
    padding: 0 10px;
    border-radius: 0;
    border: 1px solid black;
    margin: 1px;

}

.highButton, .middleButton, .lowButton {
    color: #c81f1f;
    margin: 0;
    padding: 0 10px;
    border-radius: 0;
    border: 1px solid black;
    margin: 1px;

}

.allButton {
    border-radius: 5px 0 0 5px;
}

.lowButton {
    border-radius: 0 5px 5px 0;
}