.container {
    display: grid;
    grid-template-columns: minmax(80px, auto) auto 30px;
    width: 350px;
}

.priority.low {
    color: orange;
}

.priority.middle {
    color: green;
}

.priority.high {
    color: red;
    font-weight: bold;
}