.radio {
    appearance: none;
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.radio:hover {
    background-color: grey;
}

.radio:checked {
    background-color: #00d500;
}